/* Header.css */
.header {
  background-color: #D8BFD8;
  padding: 10px 0;
}

.nav-link {
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  color: #999;
}

.active {
  font-weight: bold;
  color: #007bff; /* Change this color to your preferred highlight color */
}
